
/* Features */

.mb-1{
    margin-bottom: 1rem;
}
.mb-7{
    margin-bottom: 7rem;
}
.row{
    margin-top: 2rem;
}

.d-flex{
    display: flex;
    width: 73%;
    margin: 2rem auto 0 auto;
}

.item{
    width: 340px;
    margin: 14px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 16%) 0px 1px 4px;
    padding: 33px 5px;
    transition: all 1s;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.item h2{
    font-weight: 500;
    margin: 2px 0 22px 0;
}
.img{
    width: 90px;
}
.mt{
    margin-top: 4rem;
}

/* How it Works */

.how-it-works{
    margin: 5rem 0;
}

.numbers{
    width: 54px;
    border: 2px solid;
    border-radius: 46px;
    height: 50px;
    text-align: center;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 10px;
    line-height: initial;
}
.number-item{
    width: 340px;
    margin: 0 14px;
    text-align: center;
    padding: 33px 5px;
    line-height: 2;
}
.p-relative{
    position: relative;
    left: 14px;
}

/* Business */



/* Tools */

.tools-d-flex{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.tools-img{
 width: 80%;
 height: 10rem;
}

.tools-item{
    width: 340px;
}

/* Partners */

.partners-img{
    width: 100%;
    height: 6rem;
    padding: 0 40px;
}

/* Payments */

.payment-d-flex{
    display: flex;
    justify-content: center;
}

.payment-item{
    width: 340px;
    text-align: center;
    padding: 33px 5px;
    line-height: 2;
    margin: 0 40px ;
}

.payment-img{
    width: 135px;
}
.payment-img.shield{
    padding: 25px;
}

/* Account */

.account{
    width: 80%;
    margin: auto;
    background-color: #e5eefd;
    padding: 20px;
    line-height: 1.5;
    display: flex;
    justify-content: space-around;
    margin-bottom: 4rem;
}
.btn.account-btn{
    position:unset;
}
/* .account-login{
    margin-top: 2rem;
} */
.input{
    font-size: 16px;
    padding: 10px 16px;
    border: 1px solid white;
    background-color: white;
    border-radius: 4px;
    margin-right: 6px;
    margin-top: 2rem;
}
.input:focus{
    outline: #c2e6f4 4px solid;
    border-color: #719ECE;
}
.h3{
    font-size: 1.8rem;
}
.account-image{
    width: 13%;
}
.account-image img{
    width: 100%;
}


@media screen and (min-width: 1600px) {
   .d-flex{
    margin: unset;
    width: 100%;
    justify-content: center;
   }

   /* Account */
.account-body{
    align-self: center;
}




   }

   @media screen and (max-width:1200px){
    /* Account */
    .account{
        justify-content: space-between;
    }
    .account-image{
        width: 20rem;
        height: 14rem;
    }
    .account-image img{
        height: 13rem;
    }
    .btn.account-btn{
       margin-top: 2rem;
       position: relative;
       left: 8rem;
    }
}

@media screen and (max-width:1000px){
    .d-flex{
        width: 80%;
    }
    .account{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .account-image{
        width: 15rem;
        height: initial;
    }
    .account-image img{
        height: 13rem;
    }
    .account-login{
        display: flex;
        flex-direction: column;

    }
    .h3{
        font-size: 1.5rem;
    }
    .btn.account-btn{
        position: unset;
        margin-top: 1rem;
     }
}

@media screen and (max-width:800px){
    .d-flex{
        flex-direction: column;
    }
    .item{
        width: 100%;
        margin: 10px 0;
    }
    .number-item{
        width: 100%;
        margin: 10px 0;
    } 

    /* Tools */

.tools-d-flex{
    flex-direction: column;
    align-items: center;
}

.tools-img{
 width: 100%;
 height: 10rem;
}

.tools-item{
    width: 300px;
}

/* Payments */

.payment-d-flex{
    flex-direction: column;
    align-items: center;
}

.payment-item{
    width: 80%;
}

}

@media screen and (max-width:600px){
/* Account */
.account{
    width: 100%;
}
.account .p{
    font-size: 1rem;
}

}