.mt-7{
    margin-top: 10px !important;
}
.hr{
    width: 99%;
    margin: auto;
}
footer{
    background-color:  #f2f2f2 ;
    padding: 1px;
}
.footer-content{
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0;
}

.footer-content li{
    list-style-type: none;
}
.footer-content li:not(.add){
    margin: 10px 0;
}
.footer-content li.add{
    margin: 3px 0;
}
.footer-content a{
    text-decoration: none;
    color: black;
}
.main-footer{
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}
.footer-icons{
display: flex;
justify-content: center;
margin: 1rem 0;

}
.icons{
    background: white;
    color: black;
    font-size: 1.5rem;
    padding: 10px 12px;
    border-radius: 10px;
    margin: 6px;
}
.fa-facebook-f{
    padding: 10px 16px;
}

@media  screen and (max-width:800px) {
    .footer-content{
        padding: 50px;
        flex-direction: column;
    }
    .m-10{
        margin:10px 0;
    }
}